<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zds.mapper.ScoreMapper">
    <resultMap id="scoreMap" type="com.zds.pojo.Score">
        <result property="sId" column="s_id"/>
        <result property="tId" column="t_id"/>
        <result property="score" column="score"/>
    </resultMap>
    <resultMap id="scoreAndStudent" type="com.zds.pojo.ScoreAndStudent" extends="scoreMap">
        <association property="student" javaType="com.zds.pojo.Student">
            <id property="id" column="id"/>
            <result property="sName" column="s_name"/>
            <result property="sBirthday" column="s_birthday"/>
            <result property="sSex" column="s_sex"/>
        </association>
    </resultMap>
    <select id="getScoreWithStudentByStuIdAndCourseId" resultMap="scoreAndStudent">
        select sc.s_id, sc.c_id, sc.score, stu.id, stu.s_name, stu.s_birthday, stu.s_sex
        from score sc,
             student stu
        where sc.s_id = stu.id
          and sc.c_id = #{cId}
          and sc.s_id = #{sId}
    </select>
</mapper>